body {
  margin: 0 auto;
  font-family: 'Cormorant Infant', serif;
  background-color: #9ff2ef;
}

header {
  background-image: url("../img/farbacolor.jpg");
  background-position: center;
  background-size: cover;
  height: 350px;
}

header h1 {
  font-size: 6rem;
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

p {
  font-size: 2rem;
  text-align: center;
  padding: 5px;
}

h2 {
  font-size: 3rem;
  text-align: center
}

