body {
  margin: 0 auto;
  font-family: 'Cormorant Infant', serif;
  background-color: #9ff2ef;
}

header {
  background-image: url("../img/farbacolor.jpg");
  background-position: center;
  background-size: cover;
  height: 350px;
}

header h1 {
  font-size: 6rem;
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

p {
  font-size: 3rem;
  text-align: center;
  padding: 5px;
}
form {
  font-size: 3rem;
}
video {
  margin: 0 auto;
  width: 100%;
}

h2 {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

#sendForm {
  margin-right: 0;
  margin-left: 0;
  background-color: #fff;
  border-color: #ddd;
  border-width: 1px;
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 10%;
  padding: 5%;
}

textarea {
  width: 100%;
}

li {
  width: 100%;
}

ul {
  list-style: none;
}

#myCarousel {
  margin: 0 auto;
  width: 80%;
}

.carousel-inner img {
  margin: 0 auto;
}
